* {
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
}

h1,
h2,
h3,
h4 {
    Font-Family: 'Roboto Condensed', Sans-Serif;

}

h1 {
    Font-Size: 35px;
}

h2 {
    Font-Size: 26px;
}

h3 {
    Font-Size: 20px;
}

h4 {
    Font-Size: 18px;
}

.wrapper{
    width: 800px;
    
    padding: 20px;
    margin: 30px auto;
    display: flex;
}

.left{
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.right{
    width: 300px;
    padding: 20px 30px;
    background-color: #333;
    color: rgb(211, 186, 28)
}

.wrapper ul{
    margin: 0;
    padding: 0 10px;
}

.wrapper ul li{
    margin-bottom: 5px;
    font-size: 0.8em;
}